.table>thead>tr:first-child>th[colspan="2"] {
    border-bottom: 0;
    padding-bottom: 0;
}

.table>thead>tr:last-child>th {
    border-top: 0 !important;
    padding-top: 0 !important;
}

th {
    vertical-align: top !important;
}

.table {
    text-align: center;
}