<div class="container">
  <div class=" card mb-3">
    <h3 class="card-header">Test wprowadzania</h3>
    <button type="button" class="btn btn-primary" (click)="navigateToEnteringSettings()">
      <i class="fas fa-keyboard fa-10x"></i>
    </button>
    <div class="card-body">
      <p class="card-text">Zadanie polega na przepisaniu losowych wyrazów ze słownika języka polskiego.
      </p>
      <p class="card-text">Zadanie jest ograniczone czasowo.
      </p>
      <p class="card-text">W celu ustawienia parametrów zadania kliknij w ikonkę.
      </p>
    </div>
  </div>

  <div class="card mb-3">
    <h3 class="card-header">Test wskazywania</h3>
    <button type="button" class="btn btn-primary" (click)="navigateToPointingSettings()">
      <i class="fas fa-hand-pointer fa-10x"></i>
    </button>
    <div class="card-body">
      <p class="card-text">Zadanie polega na przemieszaniu kursora między przyciskami i wskazywanie ich.
      </p>
      <p class="card-text">Zadanie jest ograniczone czasowo.
      </p>
      <p class="card-text">W celu ustawienia parametrów zadania kliknij w ikonkę.
      </p>
    </div>
  </div>

  <div class="card mb-3">
    <h3 class="card-header">Test przeciągania</h3>
    <button type="button" class="btn btn-primary" (click)="navigateToSlideringSettings()">
      <i class="fas fa-sliders-h fa-10x"></i>
    </button>
    <div class="card-body">
      <p class="card-text">Zadanie polega na ustawianiu wskaźnika na zadaną wartość.
      </p>
      <p class="card-text">Zadanie jest ograniczone czasowo.
      </p>
      <p class="card-text">W celu ustawienia parametrów zadania kliknij w ikonkę.
      </p>
    </div>
  </div>
</div>