.pointing-div {
    width: 1000px;
    height: 600px;
    border-style: solid;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.my-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    width: 30%;
    text-align: center;
}

.divider {
    height: auto;
}

.btn-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-wrapper>button, .btn-wrapper>.divider {
    display: inline-block;
}