<div class="container">
    <div class=" card mb-3">
        <h3 class="card-header">Nauczyciel</h3>
        <button type="button" class="btn btn-primary" [routerLink]="['/login']">
            <i class="fas fa-chalkboard-teacher fa-10x"></i>
        </button>
    </div>

    <div class="card mb-3">
        <h3 class="card-header">Student</h3>
        <button type="button" class="btn btn-primary" [routerLink]="['/register']">
            <i class="fas fa-user-graduate fa-10x"></i>
        </button>
    </div>
</div>